.venv
Placas/llavePlacas.pem
Placas/ApiSIMIT.pem
Placas/Carro.jpg

Placas/models/Data/
Placas/models/training_data/
Placas/models/yolo_dataset_final_holdout/
Placas/final_test_holdout/
Placas/runs_colab/


Placas/.venv/
Placas/.venv314/

Placas/app/.expo/
Placas/app/dist/
Placas/app/node_modules/
Placas/app/.easignore
Placas/app/.env

Huevos/models/Data*/

*.zip
**/__pycache__/
*.pyc

Huevos/models/egg.v2i.yolov11

